table.head-wrap(bgcolor='#f1f1f1')
  table.body-wrap
    tbody
      tr
        td
        td.container(bgcolor='#FFFFFF')
          .content
            table
              tbody
                tr
                  td
                    h4 We received a request to reset the password for your account.
                    p.lead
                      | If you requested a reset password, click the button below. If you didn't make this request, please ignore this email.
                    p
                      a(href=recovery_url).btn Reset password
        td
  table.footer-wrap
    tbody
      tr
        td
        td.container
          .content
            table
              tbody
                tr
                  td(align='center')
                    p
                      a(href='#') Terms
                      | |&nbsp;
                      a(href='#') Privacy
                      | |&nbsp;
                      a(href='#')
                        unsubscribe Unsubscribe
        td