table.head-wrap(bgcolor='#FFFFFF')
  table.body-wrap
    tbody
      tr
        td
        td.container(bgcolor='#FFFFFF')
          .content
            table
              tbody
                tr
                  td
                    h3 Recovery password for SkaterProfile,
                    p.lead
                      | Follow the instruction bellow to recover password
                    //p
                      img(src='http://placehold.it/600x300')
                    p.callout
                      | To recover your password&nbsp;
                      a(href=recovery_url) Click Here! &raquo;
        td
  table.footer-wrap
    tbody
      tr
        td
        td.container
          .content
            table
              tbody
                tr
                  td(align='center')
                    p
                      a(href='#') Terms
                      |  |
                      a(href='#') Privacy
                      |  |
                      a(href='#')
                        unsubscribe Unsubscribe
        td