//
   Created by Administrator on 7/20/2015.
div.list-group
  a(ng-active='',href="/users/setting/your-profile").list-group-item
    |Edit your profile

    span(class="glyphicon glyphicon-chevron-right right") &nbsp
  a(ng-active='',href="/users/setting/change-password").list-group-item Change password
    span(class="glyphicon glyphicon-chevron-right right") &nbsp
  a(ng-active='',href="/users/setting/manage-profiles").list-group-item Manage pages
    span(class="glyphicon glyphicon-chevron-right right") &nbsp