doctype html
html(ng-app="App")
  head
    title= title
    base(href="/")
  body(data-twttr-rendered="true")
    include ./elements/menues/mainmenu.jade
    if flash
      include ./flash.jade
    div(ng-view).container-fluid

    link(rel='stylesheet', href='/stylesheets/skaterprofile.css')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/javascripts/App.js')
    script(src='/javascripts/controllers.js')