doctype html
html(ng-app="app")
  head
    title= title
  body(data-twttr-rendered="true")
    include ./elements/menues/mainmenu.jade
    if flash
      include ./flash.jade
    div.container-fluid
      block content

    link(rel='stylesheet', href='/stylesheets/skaterprofile.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/App.js')