doctype html
html(ng-app="App")
  head
    meta(charset="UTF-8")
    title= title
    base(href="/")
    meta(ng-repeat="meta in metas",name="af",content='fasd')
  body()
    include ./elements/menues/mainmenu.jade
    if flash
      include ./flash.jade
    div(ng-view).container-fluid

    link(rel='stylesheet', href='/stylesheets/skaterprofile.css')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/javascripts/App.js')
    script(src='/javascripts/Controllers.js')