doctype html
html(ng-app="App",ng-controller="AppController")
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="google-site-verification",content="49SlhrdBWXsqASgWBAQl-4Sa6KW1ynOsf3Y_vg_G2j4")
    title {{head.title}}
    base(href="/")
    meta(ng-repeat="meta in head.metas",name='{{meta.name}}',property='{{meta.property}}',content='{{meta.content}}')
  body()
    div#fb-root
    include ./elements/menues/mainmenu

    alert(ng-repeat="alert in alerts",type="{{alert.type}}",close="closeAlert($index)") {{alert.msg}}
    div(ng-view).container

    link(rel='stylesheet', href='/stylesheets/skaterprofile.css')
    script(src='/javascripts/jquery-1.11.3.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-sanitize.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.13.0.min.js')
    script(src='//connect.facebook.net/en_US/sdk.js')
    script(src='/javascripts/App.js')
    script(src='/javascripts/masonry.pkgd.min.js')
    script(src='/javascripts/angular-file-upload.min.js')
    script(src='/javascripts/loading-bar.js')
    script(src='/javascripts/factories/Session.js')
    script(src='/javascripts/factories/Facebook.js')
    script(src='/javascripts/factories/Auth.js')
    script(src='/javascripts/factories/Socket.js')

    script(src='/javascripts/directives/ShowpostsDirective.js')
    script(src='/javascripts/directives/ModalpostdetailDirective.js')
    script(src='/javascripts/directives/CommentDirective.js')
    script(src='/javascripts/directives/VoteDirective.js')
    script(src='/javascripts/directives/ChatDirective.js')
    script(src='/javascripts/directives/FollowDirective.js')
    script(src='/javascripts/directives/SettingDirective.js')
    script(src='/javascripts/directives/RightmenuDirective.js')
    script(src='/javascripts/controllers/IndexController.js')
    script(src='/javascripts/controllers/LoginController.js')
    script(src='/javascripts/controllers/SignupController.js')
    script(src='/javascripts/controllers/ErrorController.js')
