doctype html
html(ng-app="App",ng-controller="AppController")
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    title {{head.title}}
    base(href="/")
    meta(ng-repeat="meta in head.metas",name='{{meta.name}}',property='{{meta.property}}',content='{{meta.content}}')
  body()
    include ./elements/menues/mainmenu.jade

    alert(ng-repeat="alert in alerts",type="{{alert.type}}",close="closeAlert($index)") {{alert.msg}}
    div(ng-view).container-fluid

    link(rel='stylesheet', href='/stylesheets/skaterprofile.css')
    script(src='/javascripts/jquery-1.11.3.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-route.min.js')
    script(src='/javascripts/angular-resource.min.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.13.0.min.js')
    script(src='/javascripts/App.js')
    script(src='/javascripts/IndexController.js')
    script(src='/javascripts/LoginController.js')
    script(src='/javascripts/SignupController.js')
