@import "_bootstrap";
body{
  background-color:#f1f1f1;
}
.navbar-default{
  .navbar-nav{
    li{
      a.btn{
        @extend .btn;
        color:white;
        padding:6px 12px;
      }
    }
    &.navbar-right{
      li{
        padding:0 5px;
      }
    }
  }
  .profile-picture{
    display: inline-block;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    text-align: center;
    margin-top:8px;
    margin-bottom:8px;
    padding:0;
    font-size: 17px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
    overflow:hidden;
    img{
      max-width:31px;
      max-height:31px;
      min-height: 31px;
    }
  }
}
#loading-bar{
  position:fixed;
  top:0;
  .bar{
    height: 3px;
    margin-bottom: 0;
    position:fixed;
    top:0;
    z-index: 99999;
  }
}
.list-group{
  .right{
    float:right;
  }
}
.control-label-left{
  .control-label{
    text-align:left;
  }
}
.profile-uploader{
  border: dotted 3px lightgray;
  width:120px;
  height:120px;
}
.modal{
  .modal-content{
    .modal-header{
      border-bottom:0px;
      h4{
        font-weight:bold;
        font-size:34px;
      }
    }
  }

}
form{
  .error{
    color:red;
  }
}
.follow-button-container{
  display:block;
  button{
    letter-spacing: 2px;
    color: #4090db;
    border: 1px solid #4090db;
    background: none;
    padding: 4px 8px;
    font-size: 14px;
    &.btn-following{
      @extend .btn-success;
    }
  }
}
.alias-page{
  .profile-container{
    h1{
      margin-top:0;
      display:inline-block;
    }
    .edit-alias{
      margin-top:-10px;
      margin-left:10px;
    }
    .follow-button-container{
      display:inline-block;

      margin-left:10px;
      button{
        margin-top:-18px;
      }
    }
  }
  .row-container{
    margin-bottom:30px;
    .post-container{
      text-align: center;
      .post-image{
        max-width:100%;
        display:inline-block;
      }
    }
  }
}
.show-posts-detail{
  .post-container{
    background-color:#f8f8f8;
    margin-bottom:30px;
    .post-detail-container{
      padding:14px 20px;
      h1{
        margin-top:0;
        font-size:20px;

        a{
          color:#333333;
          text-decoration: none;
          &:hover{
            color:#337ab7;
          }
        }
      }
      blockquote{
        font-size:15px;
      }
    }
  }
  .post-image-container{
    position:relative;

    .video-icon{
      font-size: 51px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top:-25px;
      margin-left:-25px;
      color: white;
      opacity: 0;
      -webkit-transition: opacity .2s ease-out;
      transition: opacity .2s ease-out;
      -webkit-transition-delay: .1s;
      transition-delay: .1s;
    }
    &:hover{
      .video-icon{
        opacity: 1;
      }

    }
  }

  .post-image-container{
    display:block;
  }

  iframe{
    &.embed-responsive-item{
    }
  }
}
.post-detail-container{
  background-color: white;
  .post-detail-follow{
    padding:14px 20px;
  }
  .post-title{
    padding:14px 20px;
    h1{
      margin-top:0;
      font-size:20px;
    }
  }
}