@import "_bootstrap";
$background-color:#f1f1f1;
$grey : #ccc;
body{
  background-color:$background-color;
  .btn:focus, .btn:active:focus, .btn.active:focus{
    outline: 0 none;
  }
}
h2{
  margin-top:0;
}
.no-radius{
  border-radius: 0px;
}
.text-inline{
  display: inline-block;
}
div.time-ago{
  color: #BEBFC1;
  font-size: 12px;
  abbr{
    display: inline-block;
    border-bottom: none;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}



section{
  padding:7px 10px;
  margin-bottom: 30px;
  background-color:white;
  hr{

    overflow: hidden;
  }
  h2 {
    margin-top: 2px;
    padding-bottom:5px;
    border-bottom:1px solid #e5e5e5;
    font-weight: bold;
    font-size: 12px;
  }
}

ul.notifications{
  word-wrap: break-word;
  white-space: normal;
  h5{
    margin-bottom: 0;
    margin-top:2px;
    font-weight: bold;
    font-size:12px;
  }

  li{
    padding: 0px 10px !important;
    &.divider-small{
      height: 1px;
      margin: 2px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
    &.unread{
      background-color:#f4f4f4;
    }
    &.no-padding{
      padding-top:0 !important;
      padding-bottom:0 !important;
      &:hover{
        background: none;
      }
    }
    &:hover{
      background-color:#ECECEC;
    }
  }

  div{
    &.row{
      margin-left:-2px;
      margin-right:-2px;
    }
    padding:2px;
    img{
      max-height: 40px;
      max-width: 40px;
    }
  }
}
.list-followers{
  margin:0;
  padding: 0;
  border: 1px solid #ccc;
  border-top:0px;
  max-height: 225px;
  overflow-y: scroll;
  li{
    list-style-type: none;
    padding:6px 12px;
    position:relative;
    cursor:pointer;
    &:hover{
      color:#449d44;
      .form-control-feedback{
        display: inline-block;
        color:#ccc;
      }
    }
    .profile-picture{
      margin:0;
    }
    .form-control-feedback{
      display:none;
      top:calc(50% - 17px);
    }
    &.active{
      .form-control-feedback{
        display: inline-block;
        color:#449d44;
      }
    }
  }
}
.profile-picture{
  display: inline-block;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-align: center;
  margin-top:8px;
  margin-bottom:8px;
  padding:0;
  max-height: 33px;
  font-size: 17px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ccc;
  border-radius: 4px;
  overflow:hidden;
  span.glyphicon{
    max-height: 33px;
    min-height: 33px;
    font-size: 33px;
  }
  img{
    max-width:33px;
    max-height:33px;
    min-height: 33px;
  }
}
.navbar-default{
  .navbar-nav{
    li{
      a.btn{
        @extend .btn;
        color:white;
        padding:6px 12px;
      }
    }
    &.navbar-right{
      li{
        padding:0 5px;
      }
    }
  }

}
#loading-bar{
  position:fixed;
  top:0;
  .bar{
    height: 3px;
    margin-bottom: 0;
    position:fixed;
    top:0;
    z-index: 99999;
  }
}
.list-group{
  .right{
    float:right;
  }
}
.control-label-left{
  .control-label{
    text-align:left;
  }
}
.profile-uploader{
  border: dotted 3px lightgray;
  width:120px;
  height:120px;
}
.modal{
  .modal-content{
    .modal-header{
      border-bottom:0px;
      h4{
        font-weight:bold;
        font-size:34px;
      }
    }
  }

}
form{
  .error{
    color:red;
  }
}
.follow-button-container{
  display:block;
  button{
    letter-spacing: 2px;
    color: #4090db;
    border: 1px solid #4090db;
    background: none;
    padding: 4px 8px;
    font-size: 14px;
    &.btn-following{
      @extend .btn-success;
    }
  }
}
.alias-page{
  .profile-container{
    h1{
      margin-top:0;
      display:inline-block;
    }
    .edit-alias{
      margin-top:-10px;
      margin-left:10px;
    }
    .follow-button-container{
      display:inline-block;

      margin-left:10px;
      button{
        margin-top:-18px;
      }
    }
  }
  .row-container{
    margin-bottom:30px;
    .post-container{
      text-align: center;
      .post-image{
        max-width:100%;
        display:inline-block;
      }
    }
  }
}
.show-posts-detail{
  .post-detail{
    padding:7px 10px;
    .btn{
      margin:0;
    }
  }
  .username{
    border:0px;
    color:#333333;
    outline: none;
    box-shadow: none;
    &:focus{
      outline: none;
      background:none;
    }
    &:hover{
      color:#4090db
    }
  }
  .post-container{
    background-color:#f8f8f8;
    margin-bottom:30px;

    .post-detail-container{
      padding:14px 20px;
      h1{
        margin-top:0;
        font-size:20px;

        a{
          color:#333333;
          text-decoration: none;
          &:hover{
            color:#337ab7;
          }
        }
      }
      blockquote{
        font-size:15px;
        margin:0;
      }
      .vote-buttons{
      }
    }
  }
  .post-image-container{
    position:relative;
    text-align: center;
    img{
      display: inline-block;
    }
    .video-icon{
      font-size: 70px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top:-35px;
      margin-left:-35px;
      color: white;
      text-shadow: 0px 0px 10px #0D1216;
      opacity: .5;
      -webkit-transition: opacity .2s ease-out;
      transition: opacity .2s ease-out;
      -webkit-transition-delay: .1s;
      transition-delay: .1s;
    }
    &:hover{
      .video-icon{
        opacity: 1;
      }

    }
  }

  .post-image-container{
    display:block;
  }

  iframe{
    &.embed-responsive-item{
    }
  }
}
.post-detail-container{
  background-color: white;
  .username{
    border:0px;
    color:#333333;
    outline: none;
    box-shadow: none;
    &:focus{
      outline: none;
      background:none;
    }
    &:hover{
      color:#4090db
    }
  }
  .image-container{
    text-align:center;
    img{
      display: inline-block;
    }
  }

  .post-detail{
    padding:7px 10px;
    .btn{
      margin:0;
    }
  }
  .post-title{
    padding:7px 10px;
    h1{
      margin:0;
      font-size:15px;
    }
    blockquote{
      margin:0;
    }
  }
}
.align-right{
  text-align: right !important;
}
.post-comment-section{
  background-color: white;
  margin-top:30px;
  .post-comment-form{
    padding:7px 10px;
    .comment-form{
      .form-group{
        margin:0;
        &.comment-button-container{

          padding:7px 10px;
        }
      }
      textarea{
        resize: vertical;
        border-bottom:1px solid #ccc;
      }

    }
  }
}

.post-detail-modal{
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  .username{
    border:0px;
    color:#333333;
    outline: none;
    box-shadow: none;
    &:focus{
      outline: none;
      background:none;
    }
    &:hover{
      color:#4090db
    }
  }
  .modal-dialog{
    @extend .container;
    cursor:auto;
    .modal-content{
      background:none;
      box-shadow: none;
      -webkit-box-shadow: none;
      border:none;
      .cancel-post-modal-detail{
        position:fixed;
        right: -20px;
        top: -20px;
        color:white;
        font-size:20px;
        cursor:pointer;
      }
    }
  }
}
.media-left{
  .profile-picture{
    margin:0;
  }
}
.vote{
  margin-right:5px !important;
  span{
    color:$grey;
    &.vote-number{
      margin-left:5px;
    }
  }
  &.btn-success{
    span{
      color:white;
    }
  }
  &.btn-danger{
    span{
      color:white;
    }
  }
}
.no-border{
  border:0px !important;
}

@media (min-width: $screen-sm-min) {
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  ul.notifications{
    min-width: 320px;
  }
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  ul.notifications{
    min-width: 320px;
  }
}