
div(show-posts="",following='true', alias-id="user.alias._id",class="show-posts-container col-md-6",
back-state="/dashboard")
div(class="show-posts-container col-md-4")
div(class="show-posts-container col-md-2")