//
   Created by Administrator on 8/5/2015.
div(ng-repeat="post in posts",class="col-sm-{{postClass}}").show-posts-detail
  div(class="post-container")
    div.post-detail
      div.row
        div.col-xs-8
          a(ng-if="post.posted_by_alias.picture.picture",class="profile-picture",href="/{{post.posted_by_alias.username}}", ng-click="dismiss()")
            img(ng-src="{{post.posted_by_alias.picture.picture}}")
          a(ng-click="dismiss()",class="btn username", href="/{{post.posted_by_alias.username}}") {{post.posted_by_alias.name}}
          span(ng-if="post.posted_by_alias._id != post.posted_to_alias._id") > &nbsp;
          a(ng-if="post.posted_to_alias.picture.picture && post.posted_by_alias._id != post.posted_to_alias._id",class="profile-picture",href="/{{post.posted_to_alias.username}}", ng-click="dismiss()")
            img(ng-src="{{post.posted_to_alias.picture.picture}}")
          a(ng-if="post.posted_by_alias._id != post.posted_to_alias._id", ng-click="dismiss()",class="btn username", href="/{{post.posted_to_alias.username}}") {{post.posted_to_alias.name}}
        div.col-xs-4
          div(dropdown='',class='pull-right').btn-group
            button(class="btn btn-default dropdown-toggle no-border", dropdown-toggle="", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              span.caret
              span(class="sr-only") Split button!
            ul(role="menu", aria-labelledby="split-button").dropdown-menu
              li
                a(ng-href="#",ng-click="report_modal(post._id)") Report
              li(ng-if="isDeletable").divider
              li(ng-if="alias._id == post.posted_by_alias._id")
                a(href="#",ng-click="delete(post._id)") Delete
    a(href="/post/{{post._id}}",class="post-image-container",post-detail="{{post._id}}",back-state='{{back_state}}')
      span(ng-if="post.type != 'facebook'", class="glyphicon glyphicon-play video-icon")
      img(ng-src="{{post.source}}",class="post-image img-responsive")

    div.post-detail-container
      div.row
        div.col-sm-8
          div.time-ago
            abbr(title="{{post.created_date | timeAgo:true}}") {{post.created_date | timeAgo}}
          blockquote(ng-if="post.name")
            p {{post.name}}

        div.col-sm-4
          div(vote-buttons='{{post._id}}', up-votes="post.up_votes", down-votes="post.down_votes").vote-buttons