//
   Created by Administrator on 8/5/2015.
div(ng-repeat="post in posts",class="col-sm-{{postClass}}").show-posts-detail
  div(class="post-container")
    div.post-detail
      div.time-ago
        abbr(title="{{post.created_date | timeAgo:true}}") {{post.created_date | timeAgo}}
    a(href="/post/{{post._id}}",class="post-image-container",post-detail="{{post._id}}",back-state='{{back_state}}',change-page='{{change_page}}')
      span(ng-if="post.type != 'facebook'", class="glyphicon glyphicon-play video-icon")
      img(ng-src="{{post.source}}",class="post-image img-responsive")