//
   Created by Administrator on 7/31/2015.
div.row.profile-container
  div.col-sm-5
    div.row
      div.col-sm-7
      div.col-sm-5
        img(ng-if="aliasPage.picture && aliasPage.picture.source",ng-src="{{aliasPage.picture.source}}",
        class="thumbnail img-responsive")
  div.col-sm-7
    h1 {{aliasPage.name}}
    | &nbsp;
    span(follow-button="" alias-id="{{aliasPage._id}}").follow-button-container
    a(ng-if="editable",ng-href="/profile/{{aliasPage.username}}/edit" ,class="btn btn-default btn-xs glyphicon " +
    "glyphicon-wrench" +
    " " +
    "edit-alias")
    p {{aliasPage.bio}}

div.row
  div.col-md-2
  div().col-md-8
    div(show-posts='',alias-id='aliasPage._id', back-state="/{{aliasPage.username}}")
  div.col-md-2