table.head-wrap(bgcolor='#FFFFFF')
  table.body-wrap
    tbody
      tr
        td
        td.container(bgcolor='#FFFFFF')
          .content
            table
              tbody
                tr
                  td
                    h3 Welcome to SkaterProfile,
                    p.lead
                      | World largest skateboarding internet database
                    //p
                      img(src='http://placehold.it/600x300')
                    p.callout
                      | To activate your account&nbsp;
                      a(href=activate_url) Click Here! &raquo;
                    h3
                      | Tips for using SkaterProfile website
                      small Vote & Post
                    p I. Vote for the post you like
                    p II. Post skateboarding related content
                    p III. Follow people you like
                    //a.btn Click Me!
                    br
                    br
                    table.social(width='100%')
                      tbody
                        tr
                          td
                            table.column(align='left')
                              tbody
                                tr
                                  td
                                    h5 Connect with Us:
                                    p
                                      a.soc-btn.fb(href='https://www.facebook.com/skatesns') Facebook
                                      a.soc-btn.tw(href='#') Twitter
                                      a.soc-btn.gp(href='#') Google+
                            table.column(align='left')
                              tbody
                                tr
                                  td
                            span.clear
        td
  table.footer-wrap
    tbody
      tr
        td
        td.container
          .content
            table
              tbody
                tr
                  td(align='center')
                    p
                      a(href='#') Terms
                      |  |
                      a(href='#') Privacy
                      |  |
                      a(href='#')
                        unsubscribe Unsubscribe
        td