form(novalidate,name="changePasswordForm").form-horizontal.control-label-left
  div.form-group
    label.col-md-2.control-label Current password:
    div.col-md-10
      input(type="password",ng-model="new_password.curr_pass",required).form-control
  div.form-group
    label.col-md-2.control-label New password:
    div.col-md-10
      input(type="password",ng-model="new_password.new_pass",required).form-control
  div.form-group
    label.col-md-2.control-label type new password again:
    div.col-md-10
      input(type="password",ng-model="new_password.new_pass2",required).form-control
hr
button(ng-click="changePassword(new_password)",ng-disabled="changePasswordForm.$invalid").btn.btn-default Submit