div.container
  div.col-sm-4
  div.col-sm-4
    h1 Reset password
    form(method='post', name="reset_form")
      input(name='password',type='password', placeholder="New password", required="", ng-model="data.password", minlength="6").form-control
      br
      input(name='repassword',type='password', placeholder="Re-type new password", required="", ng-model="data.repassword", minlength="6").form-control
      br
      input(name='code',type='hidden',value="{{reset_code}}")
      button(ng-disabled="reset_form.$invalid", ng-click="reset(data)").btn.btn-success Reset password
  div.col-sm-4

