extends ../layout

block content
  div(ng-view)
    h1= title
    form(method='post')
      input(name='password',type='password')
      br
      input(name='repassword',type='password')
      br
      input(name='code',type='hidden',value=code)
      button reset pass
