div(class="modal-body")
  alert(ng-repeat="alert in popUpLoginAlerts",type="{{alert.type}}",close="closeLoginPopUpAlert($index)") {{alert.msg}}
  form(name="login",method='post',novalidate)
    div(class="form-group has-feedback",ng-class="login.email.$invalid ? 'has-error' : 'has-success'" )
      input(type="email",name='email',ng-model="data.email",required,class="form-control")
      span(class="glyphicon form-control-feedback",aria-hidden="true",ng-class="login.email.$invalid ? 'glyphicon-remove' : 'glyphicon-ok'",ng-show="login.email.$dirty")
    br
    div(class="form-group has-feedback",ng-class="login.password.$invalid ? 'has-error' : 'has-success'" )
      input(name='password',type='password',ng-model="data.password",required,minlength="6",class="form-control")
      span(class="glyphicon form-control-feedback",aria-hidden="true",ng-class="login.password.$invalid ? 'glyphicon-remove' : 'glyphicon-ok'",ng-show="login.password.$dirty")
    br
    button(ng-click="loginSubmit(data)",ng-disabled="login.$invalid").btn log in
