div(ng-controller="LoginController")
  h1
    form(name="login",method='post',novalidate)
      div(class="form-group")
        input(type="email",name='email',ng-model="data.email",required,class="form-control",ng-class="")
      br
      input(name='password',type='password',ng-model="data.password",required,min="6",class="form-control")
      br
      button(ng-click="loginSubmit(data)").btn log in