div(ng-repeat="profile in managed_profiles").row
  div.col-xs-9
    a(href="/{{profile.username}}") {{profile.name}}
  div.col-xs-3
    a(href="/profile/{{profile.username}}/edit").btn.btn-default Edit
    | &nbsp;&nbsp;
    button().btn.btn-danger Delete
  hr