form(novalidate,name="profileForm").form-horizontal.control-label-left
  div(ng-if="profile._id").form-group
    label.col-md-2.control-label Profile picture:
    div.col-md-10
      div.row
        div.col-md-3
          div(ng-show="uploader.isUploading").progress
            div(,role="progressbar", aria-valuenow="0", aria-valuemin="0",
            aria-valuemax="100",
            ng-style="{'width': uploader.progress + '%' }",style="width:0%").progress-bar Uploading...
          img(ng-if="alias.picture",ng-src="{{alias.picture.source}}",class="thumbnail " +
          "img-responsive")
          div(nv-file-drop="",uploader="uploader",class="well profile-uploader",ng-show="uploader.isHTML5 && !alias.picture.source")
        div.col-md-6
          label(for="change-profile",class="btn btn-default") Change picture
        div.col-md-3
      input(id="change-profile",class="ng-hide",ng-model="file",type="file",nv-file-select="",uploader="uploader")
  div.form-group
    label.col-md-2.control-label Name:
    div.col-md-10
      input(type="text",ng-model="profile.name",required).form-control
      br
      | {{suggestUsername()}}
  div.form-group
    label.col-md-2.control-label Username:
    div.col-md-10
      input(type="text",ng-model="profile.username",required).form-control
  div.form-group
    label.col-md-2.control-label Sex:
    div.col-md-10.btn-group
      label(class="btn btn-primary",ng-model="profile.sex",btn-radio="0") Others
      label(class="btn btn-primary",ng-model="profile.sex",btn-radio="1") Male
      label(class="btn btn-primary",ng-model="profile.sex",btn-radio="2") Female
  div.form-group
    label.col-md-2.control-label Bio:
    div.col-md-10.btn-group
      textarea(rows="5",ng-model="profile.bio").form-control
hr
button(ng-click="profileSubmit(profile)",ng-disabled="profileForm.$invalid").btn.btn-default Submit