div.modal-header
  button(type="button",class="close",data-dismiss="modal",aria-label="Close")
    span(ng-click="cancel()",aria-hidden="true") &times;
  h4.modal-title Post something awesome
  p Upload picture related to skateboarding, accepting GIF/JPG/PNG (Max size: 3MB)
div(class="modal-body")
  alert(ng-repeat="alert in popUpAlerts",type="{{alert.type}}",close="closePopUpAlerts($index)") {{alert.msg}}
  div(ng-show="postImage.isUploading").progress
    div(,role="progressbar", aria-valuenow="0", aria-valuemin="0",
    aria-valuemax="100",
    ng-style="{'width': postImage.progress + '%' }",style="width:0%").progress-bar Uploading...
  form(name="uploadImageForm",method='post',novalidate="")
    div(class='form-group')
      input(name="filePost",type="file", class="form-control", id="postImage", ng-model="uploadImageForm.file",
      nv-file-select="",required,
      uploader="postImage",valid-file="")
    div.form-group
      span(class="error", ng-show="uploadImageForm.postTile.$error.maxlength") Too long!
      textarea(name="postTile",class="form-control",required="",ng-maxlength="100",placeholder="Title (Max length: " +
      "100)",ng-model="postTitle")
    div.form-group
      button(ng-click="postImage.uploadAll()",ng-disabled="uploadImageForm.$invalid").btn Upload
