div.modal-header
  button(type="button",class="close",data-dismiss="modal",aria-label="Close")
    span(ng-click="cancel()",aria-hidden="true") &times;
  h4.modal-title Paste a video link
  p Paste an awesome video link, accepting YouTube/Vimeo
div(class="modal-body")
  alert(ng-repeat="alert in popUpAlerts",type="{{alert.type}}",close="closePopUpAlerts($index)") {{alert.msg}}
  form(name="uploadVideoForm",method='post',novalidate="")
    div(class='form-group')
      input(type="url",placeholder="http://somevideolink.com/some_link", class="form-control", id="postVideo",
      ng-model="uploadVideoData.video")
    div.form-group
      span(class="error", ng-show="uploadVideoForm.postDesc.$error.maxlength") Too long!
      textarea(name="postDesc",class="form-control",ng-maxlength="200",placeholder="Description (Optional) (Max " +
      "length: " +
      "200)",ng-model="uploadVideoData.desc", rows="6")
    div.form-group
      input(class="form-control no-radius", type='text', ng-model="search", placeholder='Search or choose from bellow')
      ul().list-followers
        li(ng-repeat="follower in followers | filter : search",btn-radio="'{{follower._id}}'",ng-model="uploadVideoData.to_alias", uncheckable="")
          span().profile-picture
            img(ng-src="{{follower.picture.source}}")
          |&nbsp; {{follower.name}}
          span(class="glyphicon glyphicon-ok-circle form-control-feedback", aria-hidden="true")

    div.form-group
      button(ng-click="postVideo(uploadVideoData)",ng-disabled="uploadVideoForm.$invalid").btn Upload
