div.row.create-skater.well
  div.col-sm-12
    form(novalidate,name="newProfileForm").form-horizontal.control-label-left
      div.form-group
        label.col-md-2.control-label Name:
        div.col-md-10
          input(type="text",ng-model="newProfileData.name",required).form-control
      div.form-group
        label.col-md-2.control-label Who can post to this trick?:
        div.col-md-10.btn-group
          label(class="btn btn-primary",ng-model="newProfileData.config.public_posting",btn-radio="0") Only me
          label(class="btn btn-primary",ng-model="newProfileData.config.public_posting",btn-radio="1") Anyone
      div.form-group
        label.col-md-2.control-label Who can edit this trick?:
        div.col-md-10.btn-group
          label(class="btn btn-primary",ng-model="newProfileData.config.public_editing",btn-radio="0") Only me
          label(class="btn btn-primary",ng-model="newProfileData.config.public_editing",btn-radio="1") Anyone
    hr
    button(ng-click="newProfileSubmit(newProfileData)",ng-disabled="newProfileForm.$invalid").btn.btn-default Submit
