ul.nav.navbar-nav.navbar-right

  li
    button.btn.navbar-btn.btn-primary Submit
  li
    button.btn.navbar-btn.btn-default
      span(class="glyphicon glyphicon-bell")
      sapn(class="badge"){{notifications}}