li(dropdown="").dropdown
  button(class="dropdown-toggle", dropdown-toggle="").btn.navbar-btn.btn-primary Submit
  ul(role="menu").dropdown-menu
    li
      a(href="#",ng-click="uploadImage()") Upload an image
    li
      a(href="#",ng-click="uploadVideo()") Upload a video
li
  button().btn.navbar-btn.btn-default
    span(ng-if="!notifications", class="glyphicon glyphicon-bell")
    span(ng-if="notifications", class="badge") {{notifications}}
li(dropdown="").dropdown
  button(ng-class="{glyphicon:!alias.picture,'glyphicon-user':!alias.picture,'profile-picture':alias" +
  ".picture}",
  class="btn navbar-btn btn-primary dropdown-toggle ", dropdown-toggle="")
    img(ng-if="alias.picture",ng-src="{{alias.picture.source}}")
  ul(role="menu").dropdown-menu
    li
      a(ng-href="/{{alias.username || 'users/setting/your-profile'}}") {{!alias.type ? 'Create Profile':alias.username}}
    li
      a(href="/users/setting/your-profile") Setting
    li
      a(ng-click="logout()",href="#") Logout