ul.nav.navbar-nav.navbar-right
  li
    button.btn.navbar-btn.btn-primary Submit
  li
    button(ng-click="logout()").btn.navbar-btn.btn-default
      span(class="glyphicon glyphicon-bell")
      span(class="badge") {{notifications}}