nav.navbar.navbar-default
  div.container-fluid()
    div.navbar-header
      button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#main-menu",aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/",class="navbar-brand") Skaterprofile

    div.collapse.navbar-collapse#main-menu
      ul.nav.navbar-nav
        li
          a(href="/posts/hot") Hot
      if user
        include ./loggedin-right-mainmenu.jade
      else
        include ./right-mainmenu.jade