div.col-sm-8
  div.post-detail-container
    div.post-detail
      div.row
        div.col-xs-8
          a(ng-if="postData.posted_by_alias.picture.picture",class="profile-picture",href="/{{postData.posted_by_alias.username}}")
            img(ng-src="{{postData.posted_by_alias.picture.picture}}")
          a(ng-click="dismiss()",class="btn username", href="/{{postData.posted_by_alias.username}}") {{postData.posted_by_alias.name}}
          span(ng-if="postData.posted_by_alias._id != postData.posted_to_alias._id") >
          a(ng-if="postData.posted_to_alias.picture.picture && postData.posted_by_alias._id != postData.posted_to_alias._id",class="profile-picture",href="/{{postData.posted_to_alias.username}}")
            img(ng-src="{{postData.posted_to_alias.picture.picture}}")
          a(ng-if="postData.posted_by_alias._id != postData.posted_to_alias._id", ng-click="dismiss()",class="btn username", href="/{{postData.posted_to_alias.username}}") {{postData.posted_to_alias.name}}
        div.col-xs-4
          div(dropdown='',class='pull-right').btn-group
            button(class="btn btn-default dropdown-toggle no-border", dropdown-toggle="", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              span.caret
              span(class="sr-only") Split button!
            ul(role="menu", aria-labelledby="split-button").dropdown-menu
              li
                a(ng-href="#") Report
              li(ng-if="isDeletable").divider
              li(ng-if="isDeletable")
                a(href="#",ng-click="delete(postData._id)") Delete
    div(class="image-container")
      img(class="img-responsive",ng-src='{{postData.source}}')
    div.row
      div.post-title
        div.col-sm-9.post-title
          blockquote(ng-if="postData.name")
            h1 {{postData.name}}
        div.col-sm-3.post-title
          div(vote-buttons='{{postData._id}}')
div.col-sm-4