div.col-sm-8
  div.post-detail-container
    div.post-detail
      div.row
        div.col-xs-8
          button.profile-picture
            img(ng-src="{{postData.by_alias.picture.source}}")
          a(href="/{{postData.by_alias.username}}",ng-click="dismiss()").btn.username {{postData.by_alias.name}}
          span(ng-if="!owned_post") >
          a(ng-if="!owned_post",href="/{{postData.to_alias.username}}",ng-click="dismiss()").btn.username {{postData.to_alias.name}}
        div.col-xs-4
          div(dropdown='',class='pull-right').btn-group
            button(class="btn btn-default dropdown-toggle no-border", dropdown-toggle="", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              span.caret
              span(class="sr-only") Split button!
            ul(role="menu", aria-labelledby="split-button").dropdown-menu
              li
                a(ng-href="#") Report
              li(ng-if="isDeletable").divider
              li(ng-if="isDeletable")
                a(href="#",ng-click="delete(postData._id)") Delete
    div(class="embed-responsive embed-responsive-16by9")
      iframe(class="embed-responsive-item",src="{{video_src}}")
    div.row
      div.post-title
        div.col-sm-9.post-title
          blockquote(ng-if="postData.name")
            h1 {{postData.name}}
        div.col-sm-3.post-title
          div(vote-buttons='{{postData._id}}')
  div.post-comment-section
    div.post-comment-form
      div.row
        div.col-sm-12
          ul(class="media-list")
            li(class="media")
              div(class="media-left")
              div(class="media-body")
                a(class="btn username ng-binding").media-heading viet duc phan
                span  some comment here
      div.row
        div.col-sm-12
            div(comment-box="").input-group
div.col-sm-4